// start page title
.row
    .col-12
        .page-title-box
            h4.page-title 주문/배달 조회
// end page title
.row
    .col-12
        .card
            .card-body
                .row.mb-2
                    .col-sm-12
                        h6 배달 상태
                        button(id="product-status-filter-option-1" value="product-status-filter-option-1" type="button" class="btn btn-success rounded-pill m-1" onclick="clickedProductStatus(this)") 배달 준비
                        button(id="product-status-filter-option-2" value="product-status-filter-option-2" type="button" class="btn btn-light rounded-pill m-1" onclick="clickedProductStatus(this)") 배달 완료
                        button(id="product-status-filter-option-3" value="product-status-filter-option-3" type="button" class="btn btn-light rounded-pill m-1" onclick="clickedProductStatus(this)") 전체 보기
                    //.col-xl-8
                    //    form.row.gy-2.gx-2.align-items-center.justify-content-xl-start.justify-content-between
                    //        .col-auto
                    //            label.visually-hidden(for='inputPassword2') Search
                    //            input#inputPassword2.form-control(type='search' placeholder='Search...')
                    //        .col-auto
                    //            .d-flex.align-items-center
                    //                label.me-2(for='status-select') Status
                    //                select#status-select.form-select
                    //                    option(selected='') Choose...
                    //                    option(value='1') Paid
                    //                    option(value='2') Awaiting Authorization
                    //                    option(value='3') Payment failed
                    //                    option(value='4') Cash On Delivery
                    //                    option(value='5') Fulfilled
                    //                    option(value='6') Unfulfilled
                    //.col-xl-4
                    //    .text-xl-end.mt-xl-0.mt-2
                    //        button.btn.btn-danger.mb-2.me-2(type='button')
                    //            i.mdi.mdi-basket.me-1
                    //            |  Add New Order
                    //        button.btn.btn-light.mb-2(type='button') Export
                    // end col
                .table-responsive
                    table.table.table-centered.mb-0
                        thead.table-light
                            tr
                                th(style='width: 20px;')
                                    .form-check
                                        input#customCheck1.form-check-input(type='checkbox')
                                        label.form-check-label(for='customCheck1') &nbsp;
                                th 주문 번호
                                th 날짜
                                th 결제 방법
                                th 금액
                                th 배달 상태
                                th(style='width: 125px;') Action
                        tbody
                            each order in order_history
                                tr
                                    td
                                        .form-check
                                            input#customCheck2.form-check-input(type='checkbox')
                                            label.form-check-label(for='customCheck2') &nbsp;
                                    td
                                        a.text-body.fw-bold(href='apps-ecommerce-orders-details.html') #{order.order_id}
                                    td
                                        order.date
                                        small.text-muted 10:29 PM
                                    td
                                        h5
                                            span.badge.badge-success-lighten
                                                i.mdi.mdi-bitcoin
                                                |  Paid
                                    td
                                        | $176.41
                                    td
                                        h5
                                            span.badge.badge-info-lighten 배달 완료
                                    td
                                        a.action-icon(href='javascript:void(0);')
                                            i.mdi.mdi-eye
                                        a.action-icon(href='javascript:void(0);')
                                            i.mdi.mdi-square-edit-outline
                                        a.action-icon(href='javascript:void(0);')
                                            i.mdi.mdi-delete
