// start page title
.row
    .col-12
        .page-title-box
            .page-title-right
                ol.breadcrumb.m-0
                    li.breadcrumb-item
                        a(href='javascript: void(0);') Hyper
                    li.breadcrumb-item
                        a(href='javascript: void(0);') eCommerce
                    li.breadcrumb-item.active Orders
            h4.page-title Orders
// end page title
.row
    .col-12
        .card
            .card-body
                .row.mb-2
                    .col-xl-8
                        form.row.gy-2.gx-2.align-items-center.justify-content-xl-start.justify-content-between
                            .col-auto
                                label.visually-hidden(for='inputPassword2') Search
                                input#inputPassword2.form-control(type='search' placeholder='Search...')
                            .col-auto
                                .d-flex.align-items-center
                                    label.me-2(for='status-select') Status
                                    select#status-select.form-select
                                        option(selected='') Choose...
                                        option(value='1') Paid
                                        option(value='2') Awaiting Authorization
                                        option(value='3') Payment failed
                                        option(value='4') Cash On Delivery
                                        option(value='5') Fulfilled
                                        option(value='6') Unfulfilled
                    .col-xl-4
                        .text-xl-end.mt-xl-0.mt-2
                            button.btn.btn-danger.mb-2.me-2(type='button')
                                i.mdi.mdi-basket.me-1
                                |  Add New Order
                            button.btn.btn-light.mb-2(type='button') Export
                    // end col
                .table-responsive
                    table.table.table-centered.mb-0
                        thead.table-light
                            tr
                                th(style='width: 20px;')
                                    .form-check
                                        input#customCheck1.form-check-input(type='checkbox')
                                        label.form-check-label(for='customCheck1') &nbsp;
                                th Order ID
                                th Date
                                th Payment Status
                                th Total
                                th Payment Method
                                th Order Status
                                th(style='width: 125px;') Action
                        tbody
                            tr
                                td
                                    .form-check
                                        input#customCheck2.form-check-input(type='checkbox')
                                        label.form-check-label(for='customCheck2') &nbsp;
                                td
                                    a.text-body.fw-bold(href='apps-ecommerce-orders-details.html') #BM9708
                                td
                                    | August 05 2018
                                    small.text-muted 10:29 PM
                                td
                                    h5
                                        span.badge.badge-success-lighten
                                            i.mdi.mdi-bitcoin
                                            |  Paid
                                td
                                    | $176.41
                                td
                                    | Mastercard
                                td
                                    h5
                                        span.badge.badge-info-lighten Shipped
                                td
                                    a.action-icon(href='javascript:void(0);')
                                        i.mdi.mdi-eye
                                    a.action-icon(href='javascript:void(0);')
                                        i.mdi.mdi-square-edit-outline
                                    a.action-icon(href='javascript:void(0);')
                                        i.mdi.mdi-delete
                            tr
                                td
                                    .form-check
                                        input#customCheck3.form-check-input(type='checkbox')
                                        label.form-check-label(for='customCheck3') &nbsp;
                                td
                                    a.text-body.fw-bold(href='apps-ecommerce-orders-details.html') #BM9707
                                td
                                    | August 04 2018
                                    small.text-muted 08:18 AM
                                td
                                    h5
                                        span.badge.badge-warning-lighten
                                            i.mdi.mdi-timer-sand
                                            |  Awaiting Authorization
                                td
                                    | $1,458.65
                                td
                                    | Visa
                                td
                                    h5
                                        span.badge.badge-warning-lighten Processing
                                td
                                    a.action-icon(href='javascript:void(0);')
                                        i.mdi.mdi-eye
                                    a.action-icon(href='javascript:void(0);')
                                        i.mdi.mdi-square-edit-outline
                                    a.action-icon(href='javascript:void(0);')
                                        i.mdi.mdi-delete
                            tr
                                td
                                    .form-check
                                        input#customCheck4.form-check-input(type='checkbox')
                                        label.form-check-label(for='customCheck4') &nbsp;
                                td
                                    a.text-body.fw-bold(href='apps-ecommerce-orders-details.html') #BM9706
                                td
                                    | August 04 2018
                                    small.text-muted 10:29 PM
                                td
                                    h5
                                        span.badge.badge-success-lighten
                                            i.mdi.mdi-bitcoin
                                            |  Paid
                                td
                                    | $801.99
                                td
                                    | Credit Card
                                td
                                    h5
                                        span.badge.badge-warning-lighten Processing
                                td
                                    a.action-icon(href='javascript:void(0);')
                                        i.mdi.mdi-eye
                                    a.action-icon(href='javascript:void(0);')
                                        i.mdi.mdi-square-edit-outline
                                    a.action-icon(href='javascript:void(0);')
                                        i.mdi.mdi-delete
                            tr
                                td
                                    .form-check
                                        input#customCheck5.form-check-input(type='checkbox')
                                        label.form-check-label(for='customCheck5') &nbsp;
                                td
                                    a.text-body.fw-bold(href='apps-ecommerce-orders-details.html') #BM9705
                                td
                                    | August 03 2018
                                    small.text-muted 07:56 AM
                                td
                                    h5
                                        span.badge.badge-success-lighten
                                            i.mdi.mdi-bitcoin
                                            |  Paid
                                td
                                    | $215.35
                                td
                                    | Mastercard
                                td
                                    h5
                                        span.badge.badge-success-lighten Delivered
                                td
                                    a.action-icon(href='javascript:void(0);')
                                        i.mdi.mdi-eye
                                    a.action-icon(href='javascript:void(0);')
                                        i.mdi.mdi-square-edit-outline
                                    a.action-icon(href='javascript:void(0);')
                                        i.mdi.mdi-delete
                            tr
                                td
                                    .form-check
                                        input#customCheck6.form-check-input(type='checkbox')
                                        label.form-check-label(for='customCheck6') &nbsp;
                                td
                                    a.text-body.fw-bold(href='apps-ecommerce-orders-details.html') #BM9704
                                td
                                    | May 22 2018
                                    small.text-muted 07:22 PM
                                td
                                    h5
                                        span.badge.badge-danger-lighten
                                            i.mdi.mdi-cancel
                                            |  Payment Failed
                                td
                                    | $2,514.36
                                td
                                    | Paypal
                                td
                                    h5
                                        span.badge.badge-danger-lighten Cancelled
                                td
                                    a.action-icon(href='javascript:void(0);')
                                        i.mdi.mdi-eye
                                    a.action-icon(href='javascript:void(0);')
                                        i.mdi.mdi-square-edit-outline
                                    a.action-icon(href='javascript:void(0);')
                                        i.mdi.mdi-delete
                            tr
                                td
                                    .form-check
                                        input#customCheck7.form-check-input(type='checkbox')
                                        label.form-check-label(for='customCheck7') &nbsp;
                                td
                                    a.text-body.fw-bold(href='apps-ecommerce-orders-details.html') #BM9703
                                td
                                    | April 02 2018
                                    small.text-muted 03:02 AM
                                td
                                    h5
                                        span.badge.badge-success-lighten
                                            i.mdi.mdi-bitcoin
                                            |  Paid
                                td
                                    | $183.20
                                td
                                    | Payoneer
                                td
                                    h5
                                        span.badge.badge-info-lighten Shipped
                                td
                                    a.action-icon(href='javascript:void(0);')
                                        i.mdi.mdi-eye
                                    a.action-icon(href='javascript:void(0);')
                                        i.mdi.mdi-square-edit-outline
                                    a.action-icon(href='javascript:void(0);')
                                        i.mdi.mdi-delete
                            tr
                                td
                                    .form-check
                                        input#customCheck8.form-check-input(type='checkbox')
                                        label.form-check-label(for='customCheck8') &nbsp;
                                td
                                    a.text-body.fw-bold(href='apps-ecommerce-orders-details.html') #BM9702
                                td
                                    | March 18 2018
                                    small.text-muted 11:19 PM
                                td
                                    h5
                                        span.badge.badge-warning-lighten
                                            i.mdi.mdi-timer-sand
                                            |  Awaiting Authorization
                                td
                                    | $1,768.41
                                td
                                    | Visa
                                td
                                    h5
                                        span.badge.badge-warning-lighten Processing
                                td
                                    a.action-icon(href='javascript:void(0);')
                                        i.mdi.mdi-eye
                                    a.action-icon(href='javascript:void(0);')
                                        i.mdi.mdi-square-edit-outline
                                    a.action-icon(href='javascript:void(0);')
                                        i.mdi.mdi-delete
                            tr
                                td
                                    .form-check
                                        input#customCheck9.form-check-input(type='checkbox')
                                        label.form-check-label(for='customCheck9') &nbsp;
                                td
                                    a.text-body.fw-bold(href='apps-ecommerce-orders-details.html') #BM9701
                                td
                                    | February 01 2018
                                    small.text-muted 07:22 AM
                                td
                                    h5
                                        span.badge.badge-info-lighten
                                            i.mdi.mdi-cash
                                            |  Unpaid
                                td
                                    | $3,582.99
                                td
                                    | Paypal
                                td
                                    h5
                                        span.badge.badge-info-lighten Shipped
                                td
                                    a.action-icon(href='javascript:void(0);')
                                        i.mdi.mdi-eye
                                    a.action-icon(href='javascript:void(0);')
                                        i.mdi.mdi-square-edit-outline
                                    a.action-icon(href='javascript:void(0);')
                                        i.mdi.mdi-delete
                            tr
                                td
                                    .form-check
                                        input#customCheck10.form-check-input(type='checkbox')
                                        label.form-check-label(for='customCheck10') &nbsp;
                                td
                                    a.text-body.fw-bold(href='apps-ecommerce-orders-details.html') #BM9700
                                td
                                    | January 22 2018
                                    small.text-muted 08:09 PM
                                td
                                    h5
                                        span.badge.badge-success-lighten
                                            i.mdi.mdi-bitcoin
                                            |  Paid
                                td
                                    | $923.95
                                td
                                    | Credit Card
                                td
                                    h5
                                        span.badge.badge-success-lighten Delivered
                                td
                                    a.action-icon(href='javascript:void(0);')
                                        i.mdi.mdi-eye
                                    a.action-icon(href='javascript:void(0);')
                                        i.mdi.mdi-square-edit-outline
                                    a.action-icon(href='javascript:void(0);')
                                        i.mdi.mdi-delete
                            tr
                                td
                                    .form-check
                                        input#customCheck11.form-check-input(type='checkbox')
                                        label.form-check-label(for='customCheck11') &nbsp;
                                td
                                    a.text-body.fw-bold(href='apps-ecommerce-orders-details.html') #BM9699
                                td
                                    | January 17 2018
                                    small.text-muted 02:30 PM
                                td
                                    h5
                                        span.badge.badge-success-lighten
                                            i.mdi.mdi-bitcoin
                                            |  Paid
                                td
                                    | $5,177.68
                                td
                                    | Mastercard
                                td
                                    h5
                                        span.badge.badge-info-lighten Shipped
                                td
                                    a.action-icon(href='javascript:void(0);')
                                        i.mdi.mdi-eye
                                    a.action-icon(href='javascript:void(0);')
                                        i.mdi.mdi-square-edit-outline
                                    a.action-icon(href='javascript:void(0);')
                                        i.mdi.mdi-delete
            // end card-body
        // end card
    // end col
// end row
// End Content
// Footer Start
footer.footer
    .container-fluid
        .row
            .col-md-6
                script.
                    document.write(new Date().getFullYear())
                |  &copy; Hyper - Coderthemes.com
            .col-md-6
                .text-md-end.footer-links.d-none.d-md-block
                    a(href='javascript: void(0);') About
                    a(href='javascript: void(0);') Support
                    a(href='javascript: void(0);') Contact Us
// end Footer
// content-page
// end wrapper
// END Container