// start page title
.row
    .col-12
        .page-title-box
            .page-title-right
                a.btn.btn-danger.m-1(type='button' href="./products") 취소
                button.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#confirmCreateProduct')
                    | 완료
                // Modal
                #confirmCreateProduct.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true')
                    .modal-dialog.modal-dialog-centered
                        .modal-content
                            .modal-header
                                h5#confirmCreateProductLabel.modal-title 상품 추가
                                button.btn-close(type='button' data-bs-dismiss='modal' aria-hidden='true')
                            // end modal header
                            .modal-body
                                | 상품을 추가하시겠습니까?
                            .modal-footer
                                button.btn.btn-secondary(type='button' data-bs-dismiss='modal') 취소
                                button.btn.btn-primary(type='button') 추가

            h4.page-title 상품 추가
.row
    .col-12
        .card
            .card-body
                .row
                    .col-sm-12
                        .mb-3.col-8
                            label(for="product-category" class="form-label") 상태
                            .mt-2
                                .form-check.form-check-inline
                                    input#productStatus1.form-check-input(type='radio' name='customRadio1' checked)
                                    label.form-check-label(for='productStatus1') 판매중
                                .form-check.form-check-inline
                                    input#productStatus2.form-check-input(type='radio' name='customRadio1')
                                    label.form-check-label(for='productStatus2') 품절

                        .mb-3.col-8
                            label(for="product-category" class="form-label") 분류
                            select#product-category.select2.form-control(data-toggle='select2' onchange="selectedCategory()")
                                option(selected disabled) 상품을 분류해 주세요
                                option(value='Fruit') 과일
                                option(value='Meat') 정육
                                option(value='Vegetable') 채소
                                option(value='Seafood') 수산/건해산
                                option(value='Rice') 쌀/잡곡
                                option(value='Water') 생수/음료
                                option(value='Coffee') 커피/차
                                option(value='Chips') 과자/빙과
                                option(value='Seasoning') 장/양념
                                option(value='Ramen') 라면/즉석식품
                                option(value='Milk') 우유/유제품
                                option(value='Wash') 세탁/청소
                                option(value='Tissue') 제지/위생
                                option(value='Kitchen') 주방
                                option(value='Pets') 반려동물
                        .mb-3.col-8
                            label(for="product-name" class="form-label") 이름
                            input(type="text" id="product-name" class="form-control" placeholder="상품의 이름을 입력해주세요.")
                        .mb-3.col-8
                            label(for="product-price" class="form-label") 가격
                            input(type="text" id="product-price" class="form-control" placeholder="상품의 가격을 입력해주세요.")
                        .mb-3
                            label(for="snow-editor" class="form-label") 설명
                            // HTML
                            #snow-editor(style='height: 300px;')