// start page title
.row
    .col-12
        .page-title-box
            .page-title-right
                ol.breadcrumb.m-0
                    li.breadcrumb-item
                        a(href='./products') 상품 관리
                    li.breadcrumb-item.active 상품 추가
            h4.page-title 상품 추가
.row
    .col-8.offset-2
        .card
            .card-body
                .row.mb-1
                    .col-sm-12
                        div.mb-3.col-8
                            label(for="product-category" class="form-label") 분류
                            select#product-category.select2.form-control(data-toggle='select2' onchange="selectedCategory()")
                                option(selected disabled) 상품을 분류해 주세요
                                option(value='Fruit') 과일
                                option(value='Meat') 정육
                                option(value='Vegetable') 채소
                                option(value='Seafood') 수산/건해산
                                option(value='Rice') 쌀/잡곡
                                option(value='Water') 생수/음료
                                option(value='Coffee') 커피/차
                                option(value='Chips') 과자/빙과
                                option(value='Seasoning') 장/양념
                                option(value='Ramen') 라면/즉석식품
                                option(value='Milk') 우유/유제품
                                option(value='Wash') 세탁/청소
                                option(value='Tissue') 제지/위생
                                option(value='Kitchen') 주방
                                option(value='Pets') 반려동물
                        div.mb-3.col-8
                            label(for="product-name" class="form-label") 이름
                            input(type="text" id="product-name" class="form-control" placeholder="상품의 이름을 입력하세요.")
                        div.mb-3.col-8
                            label(for="product-price" class="form-label") 가격
                            input(type="text" id="product-price" class="form-control" placeholder="상품의 가격을 입력하세요.")
                        div.mb-3
                            label(for="simplemde1" class="form-label") 설명
                            textarea#simplemde1(placeholder="상품의 설명을 입력하세요.")
                        hr
                        div(class="mb-3")
                            label.d-block(for="product-image" class="form-label") 대표 이미지
                            // Large modal
                            button.btn.btn-info(type='button' data-bs-toggle='modal' data-bs-target='#bs-example-modal-lg') 이미지 찾아보기
                            #bs-example-modal-lg.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myLargeModalLabel' aria-hidden='true')
                                .modal-dialog.modal-lg
                                    .modal-content
                                        .modal-header
                                            h4#findToImage.modal-title 이미지 찾아보기
                                            button.btn-close(type='button' data-bs-dismiss='modal' aria-hidden='true')
                                        .modal-body

                        div(class="mb-3")

                            select#product-image.form-control.select2(data-toggle='select2' onchange="selectedBasicImage()")
                                option(selected disabled) 선택