.row
    .col-12
        .page-title-box
            .page-title-right
                nav(aria-label='breadcrumb')
                    ol.breadcrumb.bg-light-lighten.p-2.mb-0
                        li.breadcrumb-item
                            a(href='/products') 상품 목록
                        li.breadcrumb-item.active(aria-current='page') 상품 추가
            h4.page-title 상품 추가
.row
    .col-12
        .card
            .card-body
                .row
                    .col-sm-12
                        .mb-3.col-8
                            label(class="form-label") 상태
                            .mt-2
                                .form-check.form-check-inline
                                    input#product-status-1.form-check-input(type='radio' name='customRadio1' checked)
                                    label.form-check-label(for='product-status-1') 판매중
                                .form-check.form-check-inline
                                    input#product-status-2.form-check-input(type='radio' name='customRadio1')
                                    label.form-check-label(for='product-status-2') 품절
                        .mb-3.col-6
                            label(for="product-category" class="form-label") 분류
                            select#product-category.select2.form-control(data-toggle='select2')
                                option(value="not" selected disabled) 상품을 분류해 주세요
                                option(value='fruit') 과일
                                option(value='meat') 정육
                                option(value='vegetable') 채소
                                option(value='seafood') 수산/건해산
                                option(value='rice') 쌀/잡곡
                                option(value='water') 생수/음료
                                option(value='coffee') 커피/차
                                option(value='chips') 과자/빙과
                                option(value='seasoning') 장/양념
                                option(value='ramen') 라면/즉석식품
                                option(value='milk') 우유/유제품
                                option(value='wash') 세탁/청소
                                option(value='tissue') 제지/위생
                                option(value='kitchen') 주방
                                option(value='pets') 반려동물
                        .mb-3.col-5
                            label(for="product-name" class="form-label") 이름
                            input(type="text" id="product-name" class="form-control" placeholder="상품의 이름을 입력해주세요.")
                        .mb-3.col-4
                            label(for="product-price" class="form-label") 가격
                            input(type="number" min="0" step="500" id="product-price" class="form-control" placeholder="상품의 가격을 입력해주세요." onkeyup="createDetailPrice(this)" onchange="createDetailPrice(this)")
                            span#price-detail.mt-1.font-14.text-muted
                        hr

        .d-flex.justify-content-end
            button.btn.btn-success.col-2(type='button' data-bs-toggle='modal' data-bs-target='#confirm-to-add-product')
                | 추가
        // Modal
        #confirm-to-add-product.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true')
            .modal-dialog.modal-dialog-centered
                .modal-content
                    .modal-header
                        h5.modal-title 상품 추가
                        button.btn-close(type='button' data-bs-dismiss='modal' aria-hidden='true')
                    .modal-body
                        | 상품을 추가하시겠습니까?
                    .modal-footer
                        button.btn.btn-secondary(type='button' data-bs-dismiss='modal') 취소
                        button.btn.btn-light(type='button' onclick="addProduct()") 확인