doctype html
html(lang='kr' style="overflow-y:overlay")
    head
        include ./templates/head
    body(class="loading" data-layout="detached" data-layout-config='{"leftSidebarCondensed":false,"darkMode":false, "showRightSidebarOnStart": false}')
        include ./templates/topNavigation

        <!-- Start Content-->
        div(class="container-fluid")
            div(class="wrapper")
                .leftside-menu.leftside-menu-detached
                    include ./templates/leftSideBar

                .content-page
                    .content
                        <!-- Navigation -->
                        if (page === "home")
                            include ./navigation/home
                        else if (page === "products")
                            include ./navigation/products/products
                        else if (page === "addproduct")
                            include ./navigation/products/addproduct
                        else if (page === "dashboard")
                            include navigation/dashboard
                    footer.footer
                        include ./templates/footer

        include ./templates/script