// start page title
.row
    .col-12
        .page-title-box
            .page-title-right
                form.d-flex
                    .input-group
                        input#dash-daterange.form-control.form-control-light(type='text')
                        span.input-group-text.bg-primary.border-primary.text-white
                            i.mdi.mdi-calendar-range.font-13
                    a.btn.btn-primary.ms-2(href='javascript: void(0);')
                        i.mdi.mdi-autorenew
            h4.page-title 상황판
// end page title
.row
    .col-xl-5.col-lg-6
        .row
            .col-lg-6
                .card.widget-flat
                    .card-body
                        .float-end
                            i.mdi.mdi-account-multiple.widget-icon
                        h5.text-muted.fw-normal.mt-0(title='Number of Customers') 총 고객수
                        h3.mt-3.mb-3 36,254
                        p.mb-0.text-muted
                            span.text-success.me-2
                                i.mdi.mdi-arrow-up-bold
                                |  5.27%
                            span.text-nowrap Since last month
                    // end card-body
                // end card
            // end col
            .col-lg-6
                .card.widget-flat
                    .card-body
                        .float-end
                            i.mdi.mdi-cart-plus.widget-icon.bg-success-lighten.text-success
                        h5.text-muted.fw-normal.mt-0(title='Number of Orders') 주문수
                        h3.mt-3.mb-3 5,543
                        p.mb-0.text-muted
                            span.text-danger.me-2
                                i.mdi.mdi-arrow-down-bold
                                |  1.08%
                            span.text-nowrap Since last month
                    // end card-body
                // end card
            // end col
        // end row
        .row
            .col-lg-12
                .card.widget-flat
                    .card-body
                        .float-end
                            i.mdi.mdi-currency-usd.widget-icon.bg-success-lighten.text-success
                        h5.text-muted.fw-normal.mt-0(title='Average Revenue') 수익
                        h3.mt-3.mb-3 ₩20,000,000
                        p.mb-0.text-muted
                            span.text-danger.me-2
                                i.mdi.mdi-arrow-down-bold
                                |  7.00%
                            span.text-nowrap Since last month
                    // end card-body
                // end card
            // end col
        // end row
    // end col
    .col-xl-7.col-lg-6
        .card.card-h-100
            .card-body
                .dropdown.float-end
                    a.dropdown-toggle.arrow-none.card-drop(href='#' data-bs-toggle='dropdown' aria-expanded='false')
                        i.mdi.mdi-dots-vertical
                    .dropdown-menu.dropdown-menu-end
                        // item
                        a.dropdown-item(href='javascript:void(0);') Sales Report
                        // item
                        a.dropdown-item(href='javascript:void(0);') Export Report
                        // item
                        a.dropdown-item(href='javascript:void(0);') Profit
                        // item
                        a.dropdown-item(href='javascript:void(0);') Action
                h4.header-title.mb-3 Projections Vs Actuals
                div(dir='ltr')
                    #high-performing-product.apex-charts(data-colors='#536de6,#e3eaef')
            // end card-body
        // end card
    // end col
// end row
.row
    .col-xl-9.col-lg-12.order-lg-2.order-xl-1
        .card
            .card-body
                a.btn.btn-sm.btn-link.float-end(href='')
                    | Export
                    i.mdi.mdi-download.ms-1
                h4.header-title.mt-2.mb-3 Top Selling Products
                .table-responsive
                    table.table.table-centered.table-nowrap.table-hover.mb-0
                        tbody
                            tr
                                td
                                    h5.font-14.my-1.fw-normal ASOS Ridley High Waist
                                    span.text-muted.font-13 07 April 2018
                                td
                                    h5.font-14.my-1.fw-normal $79.49
                                    span.text-muted.font-13 Price
                                td
                                    h5.font-14.my-1.fw-normal 82
                                    span.text-muted.font-13 Quantity
                                td
                                    h5.font-14.my-1.fw-normal $6,518.18
                                    span.text-muted.font-13 Amount
                            tr
                                td
                                    h5.font-14.my-1.fw-normal Marco Lightweight Shirt
                                    span.text-muted.font-13 25 March 2018
                                td
                                    h5.font-14.my-1.fw-normal $128.50
                                    span.text-muted.font-13 Price
                                td
                                    h5.font-14.my-1.fw-normal 37
                                    span.text-muted.font-13 Quantity
                                td
                                    h5.font-14.my-1.fw-normal $4,754.50
                                    span.text-muted.font-13 Amount
                            tr
                                td
                                    h5.font-14.my-1.fw-normal Half Sleeve Shirt
                                    span.text-muted.font-13 17 March 2018
                                td
                                    h5.font-14.my-1.fw-normal $39.99
                                    span.text-muted.font-13 Price
                                td
                                    h5.font-14.my-1.fw-normal 64
                                    span.text-muted.font-13 Quantity
                                td
                                    h5.font-14.my-1.fw-normal $2,559.36
                                    span.text-muted.font-13 Amount
                            tr
                                td
                                    h5.font-14.my-1.fw-normal Lightweight Jacket
                                    span.text-muted.font-13 12 March 2018
                                td
                                    h5.font-14.my-1.fw-normal $20.00
                                    span.text-muted.font-13 Price
                                td
                                    h5.font-14.my-1.fw-normal 184
                                    span.text-muted.font-13 Quantity
                                td
                                    h5.font-14.my-1.fw-normal $3,680.00
                                    span.text-muted.font-13 Amount
                            tr
                                td
                                    h5.font-14.my-1.fw-normal Marco Shoes
                                    span.text-muted.font-13 05 March 2018
                                td
                                    h5.font-14.my-1.fw-normal $28.49
                                    span.text-muted.font-13 Price
                                td
                                    h5.font-14.my-1.fw-normal 69
                                    span.text-muted.font-13 Quantity
                                td
                                    h5.font-14.my-1.fw-normal $1,965.81
                                    span.text-muted.font-13 Amount
                // end table-responsive
            // end card-body
        // end card
    // end col
    .col-xl-3.col-lg-6.order-lg-1
        .card
            .card-body
                .dropdown.float-end
                    a.dropdown-toggle.arrow-none.card-drop(href='#' data-bs-toggle='dropdown' aria-expanded='false')
                        i.mdi.mdi-dots-vertical
                    .dropdown-menu.dropdown-menu-end
                        // item
                        a.dropdown-item(href='javascript:void(0);') Sales Report
                        // item
                        a.dropdown-item(href='javascript:void(0);') Export Report
                        // item
                        a.dropdown-item(href='javascript:void(0);') Profit
                        // item
                        a.dropdown-item(href='javascript:void(0);') Action
                h4.header-title Total Sales
                #average-sales.apex-charts.mb-4.mt-4(data-colors='#536de6,#10c469,#ff5b5b,#f9c851')
                .chart-widget-list
                    p
                        i.mdi.mdi-square.text-primary
                        |  Direct
                        span.float-end $300.56
                    p
                        i.mdi.mdi-square.text-danger
                        |  Affilliate
                        span.float-end $135.18
                    p
                        i.mdi.mdi-square.text-success
                        |  Sponsored
                        span.float-end $48.96
                    p.mb-0
                        i.mdi.mdi-square.text-warning
                        |  E-mail
                        span.float-end $154.02
            // end card-body
        // end card
    // end col
// end row
// End Content
// Footer Start
footer.footer
    .container-fluid
        .row
            .col-md-6
                script.
                    document.write(new Date().getFullYear())
                |  &copy; Hyper - Coderthemes.com
            .col-md-6
                .text-md-end.footer-links.d-none.d-md-block
                    a(href='javascript: void(0);') About
                    a(href='javascript: void(0);') Support
                    a(href='javascript: void(0);') Contact Us
// end Footer
// content-page