doctype html
html(lang='kr')
    head
        include ./templates/head
    body(class="loading" data-layout="detached" data-layout-config='{"leftSidebarCondensed":false,"darkMode":false, "showRightSidebarOnStart": true}')
        include ./templates/topNavigation

        <!-- Start Content-->
        div(class="container-fluid")
            div(class="wrapper")
                include ./templates/leftSideBar
                .content-page
                    .content
                        if (page === "home")
                            include home
                        else if (page === "")

        include ./templates/footer
