doctype html
html(lang='kr')
    head
        include ./templates/head
    body(class="loading" data-layout="detached" data-layout-config='{"leftSidebarCondensed":false,"darkMode":false, "showRightSidebarOnStart": true}')
        include ./templates/topNavigation

        <!-- Start Content-->
        div(class="container-fluid")
            div(class="wrapper")
                include ./templates/leftSideBar
                .content-page
                    .content
                        <!-- Navigation -->
                        if (page === "home")
                            include ./navigation/home
                        else if (page === "products")
                            include ./navigation/products
                        else if (page === "addproduct")
                            include ./addproduct
                        else if (page === "orders")
                            include ./navigation/orders
                        include ./templates/footer
        include templates/script
