.row
    .col-12
        .page-title-box
            .page-title-right
                nav(aria-label='breadcrumb')
                    ol.breadcrumb.bg-light-lighten.p-2.mb-0
                        li.breadcrumb-item
                            a(href='/products') 상품 목록
                        li.breadcrumb-item.active(aria-current='page') 상품 추가
            h4.page-title 상품 추가
.row
    .col-12
        .card
            .card-body
                .row
                    .col-12
                        .mb-3.col-8
                            label(class="form-label") 상태
                            .mt-2
                                .form-check.form-check-inline
                                    input#product-status-1.form-check-input(type='radio' name='customRadio1' checked)
                                    label.form-check-label(for='product-status-1') 판매중
                                .form-check.form-check-inline
                                    input#product-status-2.form-check-input(type='radio' name='customRadio1')
                                    label.form-check-label(for='product-status-2') 품절
                        .mb-3.col-6
                            label(for="product-category" class="form-label") 분류
                            select#product-category.select2.form-control(data-toggle='select2')
                                option(value="미선택" selected disabled) 상품을 분류해 주세요
                                option(value='과일') 과일
                                option(value='정육') 정육
                                option(value='채소') 채소
                                option(value='수산/건해산') 수산/건해산
                                option(value='쌀/잡곡') 쌀/잡곡
                                option(value='생수/음료') 생수/음료
                                option(value='커피/차') 커피/차
                                option(value='과자/빙과') 과자/빙과
                                option(value='장/양념') 장/양념
                                option(value='라면/즉석식품') 라면/즉석식품
                                option(value='우유/유제품') 우유/유제품
                                option(value='세탁/청소') 세탁/청소
                                option(value='제지/위생') 제지/위생
                                option(value='주방') 주방
                                option(value='반려동물') 반려동물
                        .mb-3.col-5
                            label(for="product-name" class="form-label") 이름
                            input#product-name(type="text" class="form-control" placeholder="상품의 이름을 입력해주세요.")
                        .mb-3.col-4
                            label(for="product-price" class="form-label") 가격
                            input(type="number" min="0" step="500" id="product-price" class="form-control" placeholder="상품의 가격을 입력해주세요." onkeyup="createDetailPrice(this)" onchange="createDetailPrice(this)")
                            span#price-detail.mt-1.font-14.text-muted
                        hr
                        .mb-3.col-6
                            label(for="product-image" class="form-label") 상품 이미지(필수)
                            input#product-image(type="file" class="form-control" onchange="readImage(this)" accept="image/*")
                            .d-none.mt-1
                                img#image-preview.w-100(src="" alt="업로드된 이미지가 없습니다." height="350")
        .d-flex.justify-content-end
            button.btn.btn-success.col-2(type='button' data-bs-toggle='modal' data-bs-target='#confirm-to-add-product')
                | 추가
// Modal
#confirm-to-add-product.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true')
    .modal-dialog.modal-dialog-centered
        .modal-content
            .modal-header
                h5.modal-title 상품 추가
                button.btn-close(type='button' data-bs-dismiss='modal' aria-hidden='true')
            .modal-body
                | 상품을 추가하시겠습니까?
            .modal-footer
                button.btn.btn-secondary(type='button' data-bs-dismiss='modal') 취소
                button.btn.btn-light(type='button' onclick="uploadFile()") 확인