meta(charset='utf-8')
title HappyBuyer | 나비마트
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(content='A fully featured admin theme which can be used to build CRM, CMS, etc.' name='description')
meta(content='Coderthemes' name='author')
// App favicon
link(rel='shortcut icon' href='images/favicon.ico')

// third party css
link(href='css/vendor/jquery-jvectormap-1.2.2.css' rel='stylesheet' type='text/css')
// third party css end

// App css
link(href='css/icons.min.css' rel='stylesheet' type='text/css')
link#light-style(href='css/app-modern.min.css' rel='stylesheet' type='text/css')
link#dark-style(href='css/app-modern-dark.min.css' rel='stylesheet' type='text/css')

// Datatables css
link(href="css/vendor/dataTables.bootstrap5.css" rel="stylesheet" type="text/css")
link(href="css/vendor/responsive.bootstrap5.css" rel="stylesheet" type="text/css")

// SimpleMDE css
link(href="css/vendor/simplemde.min.css" rel="stylesheet" type="text/css")
