// ========== Left Sidebar Start ==========
.leftside-menu.leftside-menu-detached
    .leftbar-user
        a(href='javascript: void(0);')
            img.rounded-circle.shadow-sm(src='images/users/avatar-1.jpg' alt='user-image' height='42')
            span.leftbar-user-name Dominic Keller
    // - Sidemenu
    ul.side-nav
        li.side-nav-title.side-nav-item Navigation
        li.side-nav-item
            a.side-nav-link(data-bs-toggle='collapse' href='#sidebarDashboards' aria-expanded='false' aria-controls='sidebarDashboards')
                i.uil-home-alt
                span.badge.bg-info.rounded-pill.float-end 4
                span  Dashboards
            #sidebarDashboards.collapse
                ul.side-nav-second-level
                    li
                        a(href='dashboard-analytics.html') Analytics
                    li
                        a(href='dashboard-crm.html') CRM
                    li
                        a(href='index.html') Ecommerce
                    li
                        a(href='dashboard-projects.html') Projects
        li.side-nav-title.side-nav-item Apps
        li.side-nav-item
            a.side-nav-link(href='apps-calendar.html')
                i.uil-calender
                span  Calendar
        li.side-nav-item
            a.side-nav-link(href='apps-chat.html')
                i.uil-comments-alt
                span  Chat
        li.side-nav-item
            a.side-nav-link(data-bs-toggle='collapse' href='#sidebarEcommerce' aria-expanded='false' aria-controls='sidebarEcommerce')
                i.uil-store
                span  Ecommerce
                span.menu-arrow
            #sidebarEcommerce.collapse
                ul.side-nav-second-level
                    li
                        a(href='apps-ecommerce-products.html') Products
                    li
                        a(href='apps-ecommerce-products-details.html') Products Details
                    li
                        a(href='apps-ecommerce-orders.html') Orders
                    li
                        a(href='apps-ecommerce-orders-details.html') Order Details
                    li
                        a(href='apps-ecommerce-customers.html') Customers
                    li
                        a(href='apps-ecommerce-shopping-cart.html') Shopping Cart
                    li
                        a(href='apps-ecommerce-checkout.html') Checkout
                    li
                        a(href='apps-ecommerce-sellers.html') Sellers
        li.side-nav-item
            a.side-nav-link(data-bs-toggle='collapse' href='#sidebarEmail' aria-expanded='false' aria-controls='sidebarEmail')
                i.uil-envelope
                span  Email
                span.menu-arrow
            #sidebarEmail.collapse
                ul.side-nav-second-level
                    li
                        a(href='apps-email-inbox.html') Inbox
                    li
                        a(href='apps-email-read.html') Read Email
        li.side-nav-item
            a.side-nav-link(data-bs-toggle='collapse' href='#sidebarProjects' aria-expanded='false' aria-controls='sidebarProjects')
                i.uil-briefcase
                span  Projects
                span.menu-arrow
            #sidebarProjects.collapse
                ul.side-nav-second-level
                    li
                        a(href='apps-projects-list.html') List
                    li
                        a(href='apps-projects-details.html') Details
                    li
                        a(href='apps-projects-gantt.html')
                            | Gantt
                            span.badge.rounded-pill.badge-dark-lighten.text-dark.font-10.float-end New
                    li
                        a(href='apps-projects-add.html')
                            | Create Project
                            span.badge.rounded-pill.badge-success-lighten.font-10.float-end New
        li.side-nav-item
            a.side-nav-link(href='apps-social-feed.html')
                i.uil-rss
                span  Social Feed
        li.side-nav-item
            a.side-nav-link(data-bs-toggle='collapse' href='#sidebarTasks' aria-expanded='false' aria-controls='sidebarTasks')
                i.uil-clipboard-alt
                span  Tasks
                span.menu-arrow
            #sidebarTasks.collapse
                ul.side-nav-second-level
                    li
                        a(href='apps-tasks.html') List
                    li
                        a(href='apps-tasks-details.html') Details
                    li
                        a(href='apps-kanban.html') Kanban Board
        li.side-nav-item
            a.side-nav-link(href='apps-file-manager.html')
                i.uil-folder-plus
                span  File Manager
        li.side-nav-title.side-nav-item Custom
        li.side-nav-item
            a.side-nav-link(data-bs-toggle='collapse' href='#sidebarPages' aria-expanded='false' aria-controls='sidebarPages')
                i.uil-copy-alt
                span  Pages
                span.menu-arrow
            #sidebarPages.collapse
                ul.side-nav-second-level
                    li
                        a(href='pages-profile.html') Profile
                    li
                        a(href='pages-profile-2.html') Profile 2
                    li
                        a(href='pages-invoice.html') Invoice
                    li
                        a(href='pages-faq.html') FAQ
                    li
                        a(href='pages-pricing.html') Pricing
                    li
                        a(href='pages-maintenance.html') Maintenance
                    li.side-nav-item
                        a(data-bs-toggle='collapse' href='#sidebarPagesAuth' aria-expanded='false' aria-controls='sidebarPagesAuth')
                            span  Authentication
                            span.menu-arrow
                        #sidebarPagesAuth.collapse
                            ul.side-nav-third-level
                                li
                                    a(href='pages-login.html') Login
                                li
                                    a(href='pages-login-2.html') Login 2
                                li
                                    a(href='pages-register.html') Register
                                li
                                    a(href='pages-register-2.html') Register 2
                                li
                                    a(href='pages-logout.html') Logout
                                li
                                    a(href='pages-logout-2.html') Logout 2
                                li
                                    a(href='pages-recoverpw.html') Recover Password
                                li
                                    a(href='pages-recoverpw-2.html') Recover Password 2
                                li
                                    a(href='pages-lock-screen.html') Lock Screen
                                li
                                    a(href='pages-lock-screen-2.html') Lock Screen 2
                                li
                                    a(href='pages-confirm-mail.html') Confirm Mail
                                li
                                    a(href='pages-confirm-mail-2.html') Confirm Mail 2
                    li.side-nav-item
                        a(data-bs-toggle='collapse' href='#sidebarPagesError' aria-expanded='false' aria-controls='sidebarPagesError')
                            span  Error
                            span.menu-arrow
                        #sidebarPagesError.collapse
                            ul.side-nav-third-level
                                li
                                    a(href='pages-404.html') Error 404
                                li
                                    a(href='pages-404-alt.html') Error 404-alt
                                li
                                    a(href='pages-500.html') Error 500
                    li
                        a(href='pages-starter.html') Starter Page
                    li
                        a(href='pages-preloader.html') With Preloader
                    li
                        a(href='pages-timeline.html') Timeline
        li.side-nav-item
            a.side-nav-link(href='landing.html' target='_blank')
                i.uil-globe
                span.badge.bg-light.text-dark.float-end New
                span  Landing
        li.side-nav-item
            a.side-nav-link(data-bs-toggle='collapse' href='#sidebarLayouts' aria-expanded='false' aria-controls='sidebarLayouts')
                i.uil-window
                span  Layouts
                span.menu-arrow
            #sidebarLayouts.collapse
                ul.side-nav-second-level
                    li
                        a(href='layouts-horizontal.html') Horizontal
                    li
                        a(href='layouts-vertical.html') Vertical
        li.side-nav-title.side-nav-item.mt-1 Components
        li.side-nav-item
            a.side-nav-link(data-bs-toggle='collapse' href='#sidebarBaseUI' aria-expanded='false' aria-controls='sidebarBaseUI')
                i.uil-box
                span  Base UI
                span.menu-arrow
            #sidebarBaseUI.collapse
                ul.side-nav-second-level
                    li
                        a(href='ui-accordions.html') Accordions
                    li
                        a(href='ui-alerts.html') Alerts
                    li
                        a(href='ui-avatars.html') Avatars
                    li
                        a(href='ui-badges.html') Badges
                    li
                        a(href='ui-breadcrumb.html') Breadcrumb
                    li
                        a(href='ui-buttons.html') Buttons
                    li
                        a(href='ui-cards.html') Cards
                    li
                        a(href='ui-carousel.html') Carousel
                    li
                        a(href='ui-dropdowns.html') Dropdowns
                    li
                        a(href='ui-embed-video.html') Embed Video
                    li
                        a(href='ui-grid.html') Grid
                    li
                        a(href='ui-list-group.html') List Group
                    li
                        a(href='ui-modals.html') Modals
                    li
                        a(href='ui-notifications.html') Notifications
                    li
                        a(href='ui-offcanvas.html') Offcanvas
                    li
                        a(href='ui-placeholders.html') Placeholders
                    li
                        a(href='ui-pagination.html') Pagination
                    li
                        a(href='ui-popovers.html') Popovers
                    li
                        a(href='ui-progress.html') Progress
                    li
                        a(href='ui-ribbons.html') Ribbons
                    li
                        a(href='ui-spinners.html') Spinners
                    li
                        a(href='ui-tabs.html') Tabs
                    li
                        a(href='ui-tooltips.html') Tooltips
                    li
                        a(href='ui-typography.html') Typography
        li.side-nav-item
            a.side-nav-link(data-bs-toggle='collapse' href='#sidebarExtendedUI' aria-expanded='false' aria-controls='sidebarExtendedUI')
                i.uil-package
                span  Extended UI
                span.menu-arrow
            #sidebarExtendedUI.collapse
                ul.side-nav-second-level
                    li
                        a(href='extended-dragula.html') Dragula
                    li
                        a(href='extended-range-slider.html') Range Slider
                    li
                        a(href='extended-ratings.html') Ratings
                    li
                        a(href='extended-scrollbar.html') Scrollbar
                    li
                        a(href='extended-scrollspy.html') Scrollspy
                    li
                        a(href='extended-treeview.html') Treeview
        li.side-nav-item
            a.side-nav-link(href='widgets.html')
                i.uil-layer-group
                span  Widgets
        li.side-nav-item
            a.side-nav-link(data-bs-toggle='collapse' href='#sidebarIcons' aria-expanded='false' aria-controls='sidebarIcons')
                i.uil-streering
                span  Icons
                span.menu-arrow
            #sidebarIcons.collapse
                ul.side-nav-second-level
                    li
                        a(href='icons-dripicons.html') Dripicons
                    li
                        a(href='icons-mdi.html') Material Design
                    li
                        a(href='icons-unicons.html') Unicons
        li.side-nav-item
            a.side-nav-link(data-bs-toggle='collapse' href='#sidebarForms' aria-expanded='false' aria-controls='sidebarForms')
                i.uil-document-layout-center
                span  Forms
                span.menu-arrow
            #sidebarForms.collapse
                ul.side-nav-second-level
                    li
                        a(href='form-elements.html') Basic Elements
                    li
                        a(href='form-advanced.html') Form Advanced
                    li
                        a(href='form-validation.html') Validation
                    li
                        a(href='form-wizard.html') Wizard
                    li
                        a(href='form-fileuploads.html') File Uploads
                    li
                        a(href='form-editors.html') Editors
        li.side-nav-item
            a.side-nav-link(data-bs-toggle='collapse' href='#sidebarCharts' aria-expanded='false' aria-controls='sidebarCharts')
                i.uil-chart
                span  Charts
                span.menu-arrow
            #sidebarCharts.collapse
                ul.side-nav-second-level
                    li.side-nav-item
                        a(data-bs-toggle='collapse' href='#sidebarApexCharts' aria-expanded='false' aria-controls='sidebarApexCharts')
                            span  Apex Charts
                            span.menu-arrow
                        #sidebarApexCharts.collapse
                            ul.side-nav-third-level
                                li
                                    a(href='charts-apex-area.html') Area
                                li
                                    a(href='charts-apex-bar.html') Bar
                                li
                                    a(href='charts-apex-bubble.html') Bubble
                                li
                                    a(href='charts-apex-candlestick.html') Candlestick
                                li
                                    a(href='charts-apex-column.html') Column
                                li
                                    a(href='charts-apex-heatmap.html') Heatmap
                                li
                                    a(href='charts-apex-line.html') Line
                                li
                                    a(href='charts-apex-mixed.html') Mixed
                                li
                                    a(href='charts-apex-pie.html') Pie
                                li
                                    a(href='charts-apex-radar.html') Radar
                                li
                                    a(href='charts-apex-radialbar.html') RadialBar
                                li
                                    a(href='charts-apex-scatter.html') Scatter
                                li
                                    a(href='charts-apex-sparklines.html') Sparklines
                    li
                        a(href='charts-brite.html') Britecharts
                    li
                        a(href='charts-chartjs.html') Chartjs
                    li
                        a(href='charts-sparkline.html') Sparklines
        li.side-nav-item
            a.side-nav-link(data-bs-toggle='collapse' href='#sidebarTables' aria-expanded='false' aria-controls='sidebarTables')
                i.uil-table
                span  Tables
                span.menu-arrow
            #sidebarTables.collapse
                ul.side-nav-second-level
                    li
                        a(href='tables-basic.html') Basic Tables
                    li
                        a(href='tables-datatable.html') Data Tables
        li.side-nav-item
            a.side-nav-link(data-bs-toggle='collapse' href='#sidebarMaps' aria-expanded='false' aria-controls='sidebarMaps')
                i.uil-location-point
                span  Maps
                span.menu-arrow
            #sidebarMaps.collapse
                ul.side-nav-second-level
                    li
                        a(href='maps-google.html') Google Maps
                    li
                        a(href='maps-vector.html') Vector Maps
        li.side-nav-item
            a.side-nav-link(data-bs-toggle='collapse' href='#sidebarMultiLevel' aria-expanded='false' aria-controls='sidebarMultiLevel')
                i.uil-folder-plus
                span  Multi Level
                span.menu-arrow
            #sidebarMultiLevel.collapse
                ul.side-nav-second-level
                    li.side-nav-item
                        a(data-bs-toggle='collapse' href='#sidebarSecondLevel' aria-expanded='false' aria-controls='sidebarSecondLevel')
                            span  Second Level
                            span.menu-arrow
                        #sidebarSecondLevel.collapse
                            ul.side-nav-third-level
                                li
                                    a(href='javascript: void(0);') Item 1
                                li
                                    a(href='javascript: void(0);') Item 2
                    li.side-nav-item
                        a(data-bs-toggle='collapse' href='#sidebarThirdLevel' aria-expanded='false' aria-controls='sidebarThirdLevel')
                            span  Third Level
                            span.menu-arrow
                        #sidebarThirdLevel.collapse
                            ul.side-nav-third-level
                                li
                                    a(href='javascript: void(0);') Item 1
                                li.side-nav-item
                                    a(data-bs-toggle='collapse' href='#sidebarFourthLevel' aria-expanded='false' aria-controls='sidebarFourthLevel')
                                        span  Item 2
                                        span.menu-arrow
                                    #sidebarFourthLevel.collapse
                                        ul.side-nav-forth-level
                                            li
                                                a(href='javascript: void(0);') Item 2.1
                                            li
                                                a(href='javascript: void(0);') Item 2.2
    // End Sidebar
    .clearfix
    // Sidebar -left