// ========== Left Sidebar Start ==========
.leftside-menu.leftside-menu-detached
    .leftbar-user
        a(href='./')
            img.rounded-circle.shadow-sm(src='images/shopping-bag.png' alt='user-image' height='60')
            span.leftbar-user-name.font-16 HappyBuyer/나비마트
            div.d-none Icons made by
                a(href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp")
                | from
                a(href="https://www.flaticon.com/" title="Flaticon") www.flaticon.com
    // - Sidemenu
    ul.side-nav
        li.side-nav-title.side-nav-item.font-16 메뉴
        li.side-nav-item
            a.side-nav-link.font-22(href='./')
                i.uil-home-alt.font-22
                span.m-lg-1 상황판
        //li.side-nav-title.side-nav-item 상품관리
        li.side-nav-item
            a.side-nav-link.font-22(href='./products')
                i.uil-clipboard-alt.font-22
                span.m-lg-1 상품목록
        li.side-nav-item
            a.side-nav-link.font-22(href='./orders')
                i.mdi.mdi-truck-check-outline.font-22
                span.m-lg-1 배달
        //li.side-nav-item
        //    a.side-nav-link.font-24(href='apps-chat.html')
        //        i.uil-comments-alt.font-24
        //        span.m-lg-1 채팅
    // End Sidebar
    .clearfix
    // Sidebar -left