.leftside-menu.leftside-menu-detached
    .leftbar-user
        a(href='./')
            img.rounded-circle.shadow-lg(src='images/shopping-bag.png' alt='image' height='80')
            span.leftbar-user-name.font-16 HappyBuyer/코코마트
    // menu
    ul.side-nav
        li.side-nav-title.side-nav-item.font-14 메뉴
        li.side-nav-item
            a.side-nav-link.font-20.mb-2(href='./')
                i.mdi.mdi-truck-check-outline.font-24
                span.m-1 주문/배달
        //li.side-nav-title.side-nav-item 상품관리
        li.side-nav-item
            a.side-nav-link.font-20.mb-2(href='./products')
                i.uil-clipboard-alt.font-24
                span.m-1 상품 목록
        li.side-nav-item
            a.side-nav-link.font-20.mb-2(href='./dashboard')
                i.mdi.mdi-chart-areaspline.font-24
                span.m-1 한눈에 보기
    // clearfix
    .clearfix
        //
        //.leftside-menu.leftside-menu-detached